<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Email address updated!</h1>
    <%= yield %>
    <p>Thanks for joining us, have a great day!</p>
  </body>
</html>
